# CMake dosyalarını istatistik dışı bırak
*.CMake linguist-generated=true
*.CMake linguist-vendored=true
*.CMake linguist-documentation=true

# Swift dosyalarını istatistik dışı bırak
*.swift linguist-vendored=true
*.swift linguist-generated=true

# HTML dosyalarını istatistik dışı bırak
*.html linguist-vendored=true
*.html linguist-generated=true

# Eğer android klasörü komple istatistik bozuyorsa onu da görmezden gel diyebilirsin:
android/ linguist-vendored=false
linux/ linguist-vendored=false
windows/ linguist-vendored=false
